body {
    background: linear-gradient(#000000, #FF0000) no-repeat;
    background-size: cover; /* Ajustado para cobrir a tela toda */
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa a altura total da tela */
    overflow: hidden;
}

h1 {
    color: #ffffff;
    /* Adicionado deslocamento na sombra (x, y, desfoque, cor) */
    text-shadow: 2px 2px 10px #000000;
    font-family: serif;
    position: relative;
    top: 250px;
    margin: 0;
    animation: decima 1s ease-out;
}

@keyframes decima {
    from {
        transform: translateY(-100px); /* Começa 100px acima */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Termina na posição original */
        opacity: 1;
    }
}

button {
    height: 100px;
    width: 100px;
    margin-top: 300px; /* Espaço entre o H1 e o botão */
    border-radius: 50%;
    padding: 0;
    border-color: #000000;
    cursor: pointer;
    overflow: hidden; /* Garante que a imagem não saia do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1); /* Efeito de aumentar ao passar o mouse */
}

button img {
    width: 100%; /* Ajusta o tamanho da aranha dentro do botão */
    height: 100%;
    object-fit: cover;  /* Importante: faz a imagem preencher o espaço sem distorcer */
    transform: scale(1.2);
}

.spiderman {
    width: 400px;           /* 'size' não existe, use width e height */
    height: 400px;
    position: relative;
    top: -400px;              /* Defina apenas uma direção vertical */
    left: -5px;            /* Defina apenas uma direção horizontal */
    margin: 0;
    animation: decima 1s ease-out;
}